#container {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100' height='100' fill='%23f3e8ff'/%3E%3C/svg%3E");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
